.kontakt_container {
  height: 100vh;
  width: 100vw;

  padding-top: 20vh;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;

  color: silver;

  font-size: larger;

  background-color: #111827;
}