html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

iframe {
  border: none;
  margin: none;
  padding: none;
  resize: both;
  aspect-ratio: auto;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5vw;
  height: 100vh;
  background-color: #111118;
  border-right: 0.5px solid silver;
  overflow: hidden;
}
.main{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
.mainPage {
  background-color: #111118;
  height: 100vh;
  width: 95vw;
}

.navItem{
  cursor: pointer;
  height: 2vw;
  width: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-bottom: 1px solid #111118;
  transition: 200ms;
}
.navItem:active, .navItemActive:active {
  scale: 0.975;
}
.navItemActive{
  height: 2vw;
  width: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  transition: 200ms;
  border-bottom: 3px solid '#5ac8ff';
}

.gaLogo {
  height: 3.5vw;
  width: 3.5vw;
  margin-top: 1.5vh;
  transition: 400ms;
}
.gaLogo:active {
  scale: 0.975;
}
.pbLogo {
  height: 5vw;
  width: 5vw;
  transition: 400ms;
}
.pbLogo:active {
  scale: 0.975;
}
.ptLogo {
  height: 2.5vw;
  width: 2.5vw;
  transition: 400ms;
  cursor: pointer;
  margin-top: 2vh;
}
.ptLogo:active {
  scale: 0.975;
}
.userLogo {
  height: 3vw;
  width: 3vw;
  margin-top: auto;
  margin-bottom: 2vh;
  cursor: pointer;
  transition: 400ms;
}
.userLogo:active {
  scale: 0.975;
}

.frameContainer {
  height: 100vh;
  width: 95vw;
  overflow: hidden;
}

.screen {
  height: 100%;
  width: 100%;
}
