
.page {
  width: 100%;
  height: fit-content;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #111827;
  color: silver;
}

.img1_c {
  width: 100%;
  height: 60vh;
}

.img1 {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: 0 60%;
}
.img2 {
  width: 100%;
  height: 50%;

  object-fit: cover;
}

.heading {
  color: rgb(187 30 16);
  font-size: 80px;
  text-decoration: underline;
}

.section1 {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: row;

  background-color: #111827;
  color: silver;

  padding-top: 20px;
}

.paragraph1 {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}
.pictures {
  width: 50%;

  display: flex;
  flex-direction: column;
}
