@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body{
  background-color: #ffffff;
  font-family: Poppins;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}