
.aboutContainer {
  height: 100vh;
  min-height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding-top: 17vh;
  padding-bottom: 24px;

  overflow: hidden;

  background-color: #111827;

  color: silver;
}


.groupHeading {
  width: 60vh;
  min-width: 800px;
  
  border-bottom: 4px solid #c4c4c4;
  
  margin-top: 24px;
  margin-bottom: 24px;
  
  padding-left: 4vw;
  
  color: #c4c4c4;
}
.groupHeadingMobile {
  width: 60vh;
  min-width: 800px;
  
  border-bottom: 4px solid #c4c4c4;
  
  margin-top: 24px;
  margin-bottom: 24px;
  
  padding-left: 4vw;
  
  font-size: 24px;
  line-height: 32px;
  color: #c4c4c4;
}


.person{
  width: 100vw;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;

  font-size: 24px;
  line-height: 32px;
}

.rank{
  width: 168px;

  color: #ffff00;
  cursor: pointer;
}

.data {
  display: flex;
  flex-direction: row;
}
.dataMobile{
  width: 100%;

  display: flex;
  flex-direction: column;

  padding-left: 12px;

  font-size: 18px;
  line-height: 28px;
}

.name {
  width: 624;
}
.nameMobile {
  width: fit-content;
  margin-top: 6px;
}

.function {
  width: fit-content;
  margin-bottom: 6px;
}