body, html {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

.page {
  background-color: #111118;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 95vw;
}
.terminal {
  height: 99vh;
  width: 94vw;
}

#terminal{
  font-family: Hack, monospace;
}