<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639345913732-5p6rtus1qemhc4mqrt72daq9rfrj6bji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639345913732-5p6rtus1qemhc4mqrt72daq9rfrj6bji</string>
	<key>API_KEY</key>
	<string>AIzaSyDlL7Kpv0PPgkCJegHrPRurKPirktUVtsA</string>
	<key>GCM_SENDER_ID</key>
	<string>639345913732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.feuerwehrroedingen.mobile</string>
	<key>PROJECT_ID</key>
	<string>fw-roedingen</string>
	<key>STORAGE_BUCKET</key>
	<string>fw-roedingen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639345913732:ios:49d0859ef7c52ef3f237d1</string>
</dict>
</plist>